body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
    padding: 0px;
    text-align: center;
}
.Con_nav{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
   
    align-items: center;
   
}
nav{
    text-align: center;
}
a{
    color: #808080 ;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-left: 40%;
    
   
}
ul {
    list-style: none; /* Remove os marcadores */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}
li {
    display: inline-block; /* Coloca os itens lado a lado */
    margin: 0 10px; /* Adiciona espaçamento entre os itens */
}
